$mainColor: rgba(15, 60, 68, 0.96);
$secundaryColor: rgb(163, 129, 79);
$fontColor: rgb(221, 213, 213);
$fontFamilies: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
$breakPoints: 450px;
$backGroundText: solid 3px rgb(15,15,15,0.9);
$bordersColor:rgba(2, 37, 43, 0.9);
$backGroundBody : rgb(7, 7, 7,0.96);
$borderRadius : 0% 0% 20% 0%;